# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
media/
staticfiles/

# Environment
.env
venv/
.env.local

# IDE / Editor
.idea/
.vscode/

# OS files
.DS_Store
Thumbs.db

# Migrations (optional, if you don’t want to track them)
# */migrations/*
# !*/migrations/__init__.py
